.cm-s-fromscratch {
	&.CodeMirror {
		background: $bgColor;
		color: $textColor;
	}
	div.CodeMirror-selected {
		background: lighten($bgColor, 6%);
	  color: lighten($textColor, 15%);
	}
	.CodeMirror-line {
		padding-left:4rem;
		padding-right:4rem;
	}
	.CodeMirror-line::selection,
	.CodeMirror-line > span::selection,
	.CodeMirror-line > span > span::selection {
		background: lighten($bgColor, 6%);
	  color: lighten($textColor, 15%);
	}
	.CodeMirror-cursor {
		border-left: 1px solid darken($textColor,5%);
	}
	.CodeMirror-activeline-background {
		background: linear-gradient(90deg, $bgColor 0%, lighten($bgColor, 1%) 10%, lighten($bgColor, 1%) 60%, $bgColor 100%);
	}


	.CodeMirror-overlayscroll-vertical div {
		background:lighten($bgColor, 3%);
		border-radius:0;
		transition:0.3s ease background, 0.3s ease width;

		&:hover {
			width:8px;
			background:lighten($bgColor, 6%);
		}
	}
}

.CodeMirror-scroll { overflow-x:hidden !important;}
