// colors
$bgColor: #002b36;
$bgFadedColor: #00242D;
$bgDarkerColor: #002028;
$highlightColor: #004454;
$selectedColor: #1B4949;
$errorColor: #D84315;
$okColor: #2E7D32;
$primaryColor: #1976D2;
$inputColor: #173E47;
$textColor: rgba(130, 150, 150, 1);
$dimmedTextColor: rgba(130, 150, 150, 0.5);
