.from-scratch-root {
  height: 100%;
  width:100%
}

.ReactCodeMirror {
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  background: $bgColor;
  color: $textColor;
}
#react-root-workspace > div {
  transition:0.4s ease filter;
}

.CodeMirror {
  padding: 3rem 0 4rem;
  // max-width: 60rem;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  background: inherit;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;

  &::before,
  &::after {
    pointer-events: none;
    position: absolute;
    z-index: 4;
    display: block;
    content: " ";
    left: 0;
    top: 0;
    width: 100%;
    height: 54px;
    background: linear-gradient(to top, rgba(0, 43, 54, 0), rgba(0, 43, 54, 1) 5%);
  }

  &::after {
    top: auto;
    bottom: 0;
    height: 3rem;
    background: linear-gradient(to bottom, rgba(0, 43, 54, 0), rgba(0, 43, 54, 1) 5%);
  }

  pre {
    font-variant-ligatures: contextual;
  }
}

.nosave {
  z-index: 4;
  background: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.4);
  line-height: 2rem;
  border-radius: 0.5rem;
  padding: 0 0.5rem;
  position: fixed;
  left: 50%;
  margin-left: -97px;
  transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
  bottom: -4em;

  &.active {
    bottom: 0.5rem;
  }
}

[data-platform=darwin] .titlebar {
  z-index: 10;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 1.3rem;
  -webkit-app-region: drag;
}

.updater {
  z-index: 5;
  display: block;
  background: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.4);
  width: 100%;
  text-align: center;
  line-height: 2rem;
  padding: 1rem 0.5rem 0;
  position: fixed;
  transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
  top: -4rem;
  text-decoration: none;
  cursor: default;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 2.5rem;

  &.active {
    top: -1rem;
  }

  &:hover,
  &:focus {
    background: rgba(255, 255, 255, 0.15);
    color: rgba(255, 255, 255, 0.7);
  }

  span {
    line-height: 1.5rem;
    width: 1.5rem;
    height: 1.5rem;
    display: block;
    position: absolute;
    right: 0.5rem;
    bottom: 0.25rem;
    border-radius: 1.5rem;
    background: rgba(0, 0, 0, 0.3);
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.5rem;
    vertical-align: middle;

    &:hover,
    &:focus {
      background: rgba(0, 0, 0, 0.5);
      color: rgba(255, 255, 255, 0.7);
    }
  }
}

[data-platform=darwin] .updater {
  padding-top: 2rem;
}




