
.tabs-canvas {
  display: block;
  position: absolute;
  top: -22px;
  left: 0;
  right: 0;
  height: 44px;
  border-bottom: 1px solid $textColor;
  background-color: $bgColor;
}

.tabs-canvas > .tab {
  width: 200px;
  height: 100%;
  text-align: center;
  line-height: 44px;
  cursor: pointer;
  border-right: 1px solid $textColor;
  transition: background-color .15s ease;
}
.tabs-canvas > .tab:hover {
  background-color: red;
}

.tabs-canvas > .tab > .tab-title {
  width: calc(100% - 5ch);
}
.tabs-canvas > .tab > .tab-close {
  width: 5ch;
  float: right;
}
