@charset "UTF-8";

$bgColor: rgb(0, 43, 54);
$textColor: rgb(130, 150, 150);

@font-face {
  font-family: "FiraCode";
  src: url(../font/FiraCode-Regular.otf) format("opentype");
  font-weight:normal;
  font-style:normal;
}

html {
  box-sizing: border-box;
  height:100%;
  width: 100%;
  overflow: hidden;
}
*, *:before, *:after {
  box-sizing: inherit;
  margin:0;
  padding:0;
}

body {
  height:100%;
  min-height:100%;
  font-family:"FiraCode";
  overflow:hidden;
  font-size:100%;
  line-height:1.25;
  background:$bgColor;
  color:$textColor;
  -webkit-font-feature-settings:"liga", "dlig";
  font-feature-settings:"liga", "dlig";
  padding:0;
  margin:0;
  -webkit-overflow-scrolling: touch;
  -webkit-user-select:none;
}

#react-root,
.ReactCodeMirror {
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
}

.CodeMirror {
   margin:0 3rem;
   padding:3rem 0 4rem;
   width:calc(100% - 6rem);
   height:100%;
   background:inherit;
   color:inherit;
   font-family:inherit;
   font-size:inherit;
   line-height:inherit;
 }

.nosave {
  background:rgba(255,255,255,0.1);
  color:rgba(255,255,255,0.4);
  line-height:2rem;
  border-radius:0.5rem;
  padding:0 0.5rem;
  position:fixed;
  left:50%;
  margin-left:-97px;
  transition:0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
  bottom:-4em;

  &.active {
    bottom:0.5rem;
  }
}


@import "../../../node_modules/react-codemirror/node_modules/codemirror/lib/codemirror.css";
@import "_cm-theme.scss";

.CodeMirror-scroll { overflow-x:hidden !important;}
